body {
    display: flex;
}

.sidebar {
    width: 250px;
    background: #343a40;
    color: white;
    height: 100vh;
    padding: 15px;
    position: fixed;
}

.sidebar h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.sidebar .nav-pills .nav-link {
    color: #adb5bd;
}

.sidebar .nav-pills .nav-link.active {
    background-color: #495057;
    color: white;
}

.main-content {
    margin-left: 250px; /* Same as sidebar width */
    padding: 20px;
    width: calc(100% - 250px);
}

body {
    background-color: #f8f9fa;
}

.card {
    border-radius: 0.5rem;
}

.nav-link.active {
    font-weight: bold;
}

#results-details .accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #0d6efd;
}

.badge {
    font-size: 0.9rem;
    padding: 0.5em 0.7em;
}

.chart-container {
    position: relative;
    height: 400px;
    width: 100%;
}
